* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    font-family: 'muli', 'Open Sans', 'Sans-serif';
}

body {
    width: 100%;
    height: 100%;
    background-color: #1F1F24;
    
}

.container {
    width: 73.5%;
    margin: 0 auto;
    height: 100%;
}

nav {
    content: "";
    clear: both;
    display: table;
}

/*.booustLogo {
    width: 100px;
}*/

h1 {
    color: #27AE60;
    font-size: 50px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    /*line-height: 68px;*/
    letter-spacing: 0.1em;
}

.content1 {
    color: white;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    /*margin-bottom: 8px;*/
    width: 60%;
    text-align: left;
    margin: 0 auto;
    letter-spacing: 0.12em;
}


.animal {
    color: #E9E8E8;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
    font-family: Lato;
    letter-spacing: 0.15em;
}



/*----nav----*/
nav {
    height: 100px;
    line-height: 100px;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: muli;
}

nav a img {
    vertical-align: middle;
    width: 50px;
    /*box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);*/
}

nav a:nth-child(2) {
    float: right;
}


/*----header----*/
header {
    text-align: center;
    margin: 0 0 30px 0;
}

#image {
    border: 5px solid #333333;
    display: block;
    margin: 0 auto;
}

#section{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}


#text1 {
    width: 95%;
    height: 15px;
    border-radius: 3px;
    border: 1px solid #4F4F4F;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
    margin: 0 0 10px 0;
    padding: 10px 10px;
    font-family: Lato;
}

#button {
    width: 60%;
    margin: 0 auto 10px auto;
}

#iCheck {
    text-transform: uppercase;
    font-family: "Open sans";
    font-weight: bold;
    font-size: 14px;
    padding: auto auto;
    width: 7em;
    height: 35px;
    background-color: #56CCF2;
    border-radius: 5px;
    /*float: left;*/
    /*margin-left: 35px;*/
    color: #ffffff;
}

#iReset {
    text-transform: uppercase;
    font-family: "Open sans";
    font-weight: bold;
    font-size: 14px;
    padding: auto auto;
    width: 7em;
    height: 35px;
    background-color: transparent;
    /*float: left;*/
    color: #ffffff;
}

#randomText, #text {
    color: #E5E0E0;
}

#text {
    margin-bottom: 5px;
}

#randomText1, #enteredText {
    color: #56CCF2;
}

#iCheck:hover {
    color: #ffffff;
    border: 1px solid #56CCF2;
    background-color: transparent;
}

#iReset:hover {
    color: #ffffff;
    border: 1px solid #56CCF2;
    border-radius: 5px;
}

@media (max-width: 500px) {
    #image {width: 180px;}
}

/*#button::after {
    clear: both;
    content: "";
    display: table;
}*/

/*footer {
    position: relative;
    /*top: 95%;
    color: #5A6068;
    /*margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

footer > p {
    text-align: center;
    width: 50%;
    bottom: 10px;
}*/